In [1]:
from pathlib import Path
import geopandas as gpd
import pandas as pd


DATA = Path("../data/shapefiles/175_120_pnts.shp")

In [2]:
gdf = gpd.read_file(DATA)
gdf.head()

   id                           geometry
0   0  POINT (-15004201.631 8827291.779)
1   1  POINT (-15160796.863 8975256.789)
2   2  POINT (-15309639.653 9088588.715)
3   3  POINT (-15225165.042 8917788.281)
4   4  POINT (-15236295.091 9062902.604)

In [3]:
gdf['class'] = 0
gdf.head()

   id                           geometry  class
0   0  POINT (-15004201.631 8827291.779)      0
1   1  POINT (-15160796.863 8975256.789)      0
2   2  POINT (-15309639.653 9088588.715)      0
3   3  POINT (-15225165.042 8917788.281)      0
4   4  POINT (-15236295.091 9062902.604)      0

In [4]:
gdf.shape

(120, 3)

In [5]:
for i in range(1, 4):
    if i == 4:
        break
    _ = gdf[gdf['class'] == 0]
    subset = _.sample(n=40, random_state=1)
    subset['class'] = i
    gdf.update(subset)
    
gdf.head()

# class_1 = gdf.sample(n=30, random_state=1)
# class_1['class'] = 1

# class_2 = gdf.sample(n=30, random_state=1)
# class_2['class'] = 2

# class_3 = gdf.sample(n=30, random_state=1)
# class_3['class'] = 3

# gdf_co = pd.concat([class_1, class_2, class_3])
# gdf_co

C:\Users\rhamilton\AppData\Local\Temp\ipykernel_7708\3342688670.py:7: FutureWarning: Downcasting behavior in Series and DataFrame methods 'where', 'mask', and 'clip' is deprecated. In a future version this will not infer object dtypes or cast all-round floats to integers. Instead call result.infer_objects(copy=False) for object inference, or cast round floats explicitly. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gdf.update(subset)
C:\Users\rhamilton\AppData\Local\Temp\ipykernel_7708\3342688670.py:7: FutureWarning: Downcasting behavior in Series and DataFrame methods 'where', 'mask', and 'clip' is deprecated. In a future version this will not infer object dtypes or cast all-round floats to integers. Instead call result.infer_objects(copy=False) for object inference, or cast round floats explicitly. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gdf.update(subset)
C:\Users\rhamilton\AppData\Local\Temp\ipykernel_7708\3342688670.py:7: FutureWarning: Downcasting behavior in Series and DataFrame methods 'where', 'mask', and 'clip' is deprecated. In a future version this will not infer object dtypes or cast all-round floats to integers. Instead call result.infer_objects(copy=False) for object inference, or cast round floats explicitly. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gdf.update(subset)
C:\Users\rhamilton\AppData\Local\Temp\ipykernel_7708\3342688670.py:7: FutureWarning: Downcasting behavior in Series and DataFrame methods 'where', 'mask', and 'clip' is deprecated. In a future version this will not infer object dtypes or cast all-round floats to integers. Instead call result.infer_objects(copy=False) for object inference, or cast round floats explicitly. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gdf.update(subset)
C:\Users\rhamilton\AppData\Local\Temp\ipykernel_7708\3342688670.py:7: FutureWarning: Downcasting behavior in Series and DataFrame methods 'where', 'mask', and 'clip' is deprecated. In a future version this will not infer object dtypes or cast all-round floats to integers. Instead call result.infer_objects(copy=False) for object inference, or cast round floats explicitly. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gdf.update(subset)
C:\Users\rhamilton\AppData\Local\Temp\ipykernel_7708\3342688670.py:7: FutureWarning: Downcasting behavior in Series and DataFrame methods 'where', 'mask', and 'clip' is deprecated. In a future version this will not infer object dtypes or cast all-round floats to integers. Instead call result.infer_objects(copy=False) for object inference, or cast round floats explicitly. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gdf.update(subset)

   id                           geometry  class
0   0  POINT (-15004201.631 8827291.779)      3
1   1  POINT (-15160796.863 8975256.789)      3
2   2  POINT (-15309639.653 9088588.715)      1
3   3  POINT (-15225165.042 8917788.281)      2
4   4  POINT (-15236295.091 9062902.604)      2

In [6]:
gdf.groupby('class').count()

       id  geometry
class
1      40        40
2      40        40
3      40        40

In [7]:
gdf.reset_index(drop=True, inplace=True)

In [8]:
gdf.head()

   id                           geometry  class
0   0  POINT (-15004201.631 8827291.779)      3
1   1  POINT (-15160796.863 8975256.789)      3
2   2  POINT (-15309639.653 9088588.715)      1
3   3  POINT (-15225165.042 8917788.281)      2
4   4  POINT (-15236295.091 9062902.604)      2

In [9]:
# assign train test split
gdf['split'] = 'train'
gdf.head()

gdf.loc[gdf.sample(frac=0.3, random_state=1).index, 'split'] = 'test'

In [10]:
gdf.groupby('split').count()

       id  geometry  class
split
test   36        36     36
train  84        84     84

In [11]:
# gdf_co.to_file('../data/shapefiles/yk_pusdo_points_processed.shp')