In [16]:
from pathlib import Path
import geopandas as gpd
import pandas as pd


DATA = Path("../data/shapefiles/yk_pusdo_points.shp")

In [4]:
gdf = gpd.read_file(DATA)
gdf.head()

    id                     geometry
0  0.0  POINT (-138.68593 63.54369)
1  1.0  POINT (-134.49545 62.39458)
2  2.0  POINT (-136.30032 62.50134)
3  3.0  POINT (-136.75664 62.30972)
4  4.0  POINT (-138.22384 64.28983)

In [5]:
gdf['class'] = 0
gdf.head()

    id                     geometry  class
0  0.0  POINT (-138.68593 63.54369)      0
1  1.0  POINT (-134.49545 62.39458)      0
2  2.0  POINT (-136.30032 62.50134)      0
3  3.0  POINT (-136.75664 62.30972)      0
4  4.0  POINT (-138.22384 64.28983)      0

In [6]:
gdf.shape

(1200, 3)

In [17]:
class_1 = gdf.sample(n=400, random_state=1)
class_1['class'] = 1

class_2 = gdf.sample(n=400, random_state=1)
class_2['class'] = 2

class_3 = gdf.sample(n=400, random_state=1)
class_3['class'] = 3

gdf_co = pd.concat([class_1, class_2, class_3])
gdf_co

          id                     geometry  class
636    636.0  POINT (-134.00388 62.26637)      1
683    683.0  POINT (-134.05473 62.74754)      1
1033  1033.0  POINT (-138.68731 64.09675)      1
190    190.0  POINT (-130.81623 62.90910)      1
1083  1083.0  POINT (-131.42942 63.77751)      1
...      ...                          ...    ...
866    866.0  POINT (-136.07889 63.77275)      3
177    177.0  POINT (-134.65011 63.38354)      3
629    629.0  POINT (-136.33641 62.26335)      3
713    713.0  POINT (-139.81263 61.80158)      3
578    578.0  POINT (-135.79023 63.22839)      3

[1200 rows x 3 columns]

In [19]:
gdf_co.groupby('class').count()

        id  geometry
class
1      400       400
2      400       400
3      400       400

In [20]:
gdf_co.reset_index(drop=True, inplace=True)

In [21]:
gdf_co.head()

       id                     geometry  class
0   636.0  POINT (-134.00388 62.26637)      1
1   683.0  POINT (-134.05473 62.74754)      1
2  1033.0  POINT (-138.68731 64.09675)      1
3   190.0  POINT (-130.81623 62.90910)      1
4  1083.0  POINT (-131.42942 63.77751)      1

In [22]:
# assign train test split
gdf_co['split'] = 'train'
gdf_co.head()

gdf_co.loc[gdf_co.sample(frac=0.2, random_state=1).index, 'split'] = 'test'

In [23]:
gdf_co.groupby('split').count()

        id  geometry  class
split
test   240       240    240
train  960       960    960

In [24]:
gdf_co.to_file('../data/shapefiles/yk_pusdo_points_processed.shp')