In [1]:
import geopandas as gpd
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
gdf = gpd.read_file("../data/geojson/s1_asc_2019.geojson")
gdf.head()

,GRD_Post_Processing_facility_country,GRD_Post_Processing_facility_name,GRD_Post_Processing_facility_org,GRD_Post_Processing_facility_site,GRD_Post_Processing_software_name,GRD_Post_Processing_software_version,GRD_Post_Processing_start,GRD_Post_Processing_stop,S1TBX_Calibration_vers,S1TBX_SAR_Processing_vers,SLC_Processing_facility_country,SLC_Processing_facility_name,SLC_Processing_facility_org,SLC_Processing_facility_site,SLC_Processing_software_name,SLC_Processing_software_version,SLC_Processing_start,SLC_Processing_stop,SNAP_Graph_Processing_Framework_GPF_vers,cycleNumber,date,familyName,instrument,instrumentConfigurationID,instrumentMode,instrumentSwath,missionDataTakeID,nssdcIdentifier,orbitNumber_start,orbitNumber_stop,orbitProperties_ascendingNodeTime,orbitProperties_pass,phaseIdentifier,platform_number,productClass,productClassDescription,productComposition,productTimelinessCategory,productType,relativeOrbitNumber_start,relativeOrbitNumber_stop,resolution,resolution_meters,segmentStartTime,sliceNumber,sliceProductFlag,startTimeANX,stopTimeANX,system_id,totalSlices,transmitterReceiverPolarisation,geometry
0,United Kingdom,Copernicus S1 Core Ground Segment - UPA,ESA,Airbus DS-Newport,Sentinel-1 IPF,002.91,1561094400680,1561095029000,6.0.4,6.0.4,United Kingdom,Copernicus S1 Core Ground Segment - UPA,ESA,Airbus DS-Newport,Sentinel-1 IPF,002.91,1561094501000,1561094815000,6.0.4,173,2019-06-21,SENTINEL-1,Synthetic Aperture Radar,6,IW,IW,205437,2014-016A,27772,27772,1561084729780,ASCENDING,1,A,S,SAR Standard L1 Product,Slice,Fast-24h,GRD,50,50,H,10,1561085640180,3,true,964099.5,989098.1,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190621T02...,10,"[VV, VH]","POLYGON ((-137.83402 60.54038, -138.93672 60.4..."
1,United Kingdom,Copernicus S1 Core Ground Segment - UPA,ESA,Airbus DS-Newport,Sentinel-1 IPF,002.91,1561094518000,1561095145000,6.0.4,6.0.4,United Kingdom,Copernicus S1 Core Ground Segment - UPA,ESA,Airbus DS-Newport,Sentinel-1 IPF,002.91,1561094619000,1561094932000,6.0.4,173,2019-06-21,SENTINEL-1,Synthetic Aperture Radar,6,IW,IW,205437,2014-016A,27772,27772,1561084729780,ASCENDING,1,A,S,SAR Standard L1 Product,Slice,Fast-24h,GRD,50,50,H,10,1561085640180,4,true,989099.6,1014098.0,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190621T02...,10,"[VV, VH]","POLYGON ((-138.45711 60.48614, -137.38779 60.5..."
2,United Kingdom,Copernicus S1 Core Ground Segment - UPA,ESA,Airbus DS-Newport,Sentinel-1 IPF,002.91,1561094405820,1561095044000,6.0.4,6.0.4,United Kingdom,Copernicus S1 Core Ground Segment - UPA,ESA,Airbus DS-Newport,Sentinel-1 IPF,002.91,1561094506000,1561094819000,6.0.4,173,2019-06-21,SENTINEL-1,Synthetic Aperture Radar,6,IW,IW,205437,2014-016A,27772,27772,1561084729780,ASCENDING,1,A,S,SAR Standard L1 Product,Slice,Fast-24h,GRD,50,50,H,10,1561085640180,5,true,1014100.0,1039098.0,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190621T02...,10,"[VV, VH]","POLYGON ((-137.54621 63.17687, -137.67419 63.5..."
3,United Kingdom,Copernicus S1 Core Ground Segment - UPA,ESA,Airbus DS-Newport,Sentinel-1 IPF,002.91,1561094400120,1561094982000,6.0.4,6.0.4,United Kingdom,Copernicus S1 Core Ground Segment - UPA,ESA,Airbus DS-Newport,Sentinel-1 IPF,002.91,1561094496000,1561094767000,6.0.4,173,2019-06-21,SENTINEL-1,Synthetic Aperture Radar,6,IW,IW,205437,2014-016A,27772,27772,1561084729780,ASCENDING,1,A,S,SAR Standard L1 Product,Slice,Fast-24h,GRD,50,50,H,10,1561085640180,6,true,1039100.0,1064098.0,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190621T02...,10,"[VV, VH]","POLYGON ((-142.74253 63.36263, -142.72362 63.3..."
4,United Kingdom,Copernicus S1 Core Ground Segment - UPA,ESA,Airbus DS-Newport,Sentinel-1 IPF,002.91,1561094508380,1561095096000,6.0.4,6.0.4,United Kingdom,Copernicus S1 Core Ground Segment - UPA,ESA,Airbus DS-Newport,Sentinel-1 IPF,002.91,1561094605000,1561094878000,6.0.4,173,2019-06-21,SENTINEL-1,Synthetic Aperture Radar,6,IW,IW,205437,2014-016A,27772,27772,1561084729780,ASCENDING,1,A,S,SAR Standard L1 Product,Slice,Fast-24h,GRD,50,50,H,10,1561085640180,7,true,1064100.0,1089098.0,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190621T02...,10,"[VV, VH]","POLYGON ((-138.84315 66.58249, -138.91190 66.5..."

In [6]:
# gdf = gdf[gdf['relativeOrbitNumber_start'] == 166]
# gdf

In [7]:
groups = gdf.groupby(['relativeOrbitNumber_start', 'date', 'platform_number'])['date'].count().reset_index(name='Count')
groups

    relativeOrbitNumber_start        date platform_number  Count
0                          20  2019-06-25               B      4
1                          20  2019-07-01               A      3
2                          20  2019-07-07               B      4
3                          20  2019-07-13               A      3
4                          20  2019-07-19               B      4
5                          20  2019-07-25               A      3
6                          20  2019-07-31               B      4
7                          20  2019-08-06               A      3
8                          20  2019-08-12               B      4
9                          20  2019-08-18               A      3
10                         20  2019-08-24               B      4
11                         20  2019-08-30               A      3
12                         20  2019-09-05               B      4
13                         20  2019-09-11               A      3
14                         20  2019-09-17               B      4
15                         50  2019-06-21               A      8
16                         50  2019-06-27               B      2
17                         50  2019-07-03               A      8
18                         50  2019-07-09               B      2
19                         50  2019-07-15               A      8
20                         50  2019-07-21               B      2
21                         50  2019-07-27               A      8
22                         50  2019-08-02               B      2
23                         50  2019-08-08               A      8
24                         50  2019-08-14               B      2
25                         50  2019-08-20               A      8
26                         50  2019-08-26               B      2
27                         50  2019-09-01               A      8
28                         50  2019-09-07               B      2
29                         50  2019-09-13               A      8
30                         50  2019-09-19               B      2
31                         79  2019-06-23               A      8
32                         79  2019-07-05               A      8
33                         79  2019-07-17               A      8
34                         79  2019-07-29               A      8
35                         79  2019-08-10               A      8
36                         79  2019-08-22               A      8
37                         79  2019-09-03               A      8
38                         79  2019-09-15               A      8
39                        108  2019-06-25               A      8
40                        108  2019-07-07               A      8
41                        108  2019-07-19               A      8
42                        108  2019-07-31               A      8
43                        108  2019-08-12               A      8
44                        108  2019-08-24               A      8
45                        108  2019-09-05               A      8
46                        108  2019-09-17               A      8
47                        123  2019-06-20               B      4
48                        123  2019-07-02               B      4
49                        123  2019-07-14               B      4
50                        123  2019-07-26               B      4
51                        123  2019-08-07               B      6
52                        123  2019-08-19               B      6
53                        123  2019-08-31               B      6
54                        123  2019-09-12               B      6
55                        137  2019-06-27               A      8
56                        137  2019-07-09               A      8
57                        137  2019-07-21               A      8
58                        137  2019-08-02               A      8
59                        137  2019-08-26               A      8
60                        137  2019-09-07               A      8
61                        166  2019-06-29               A      8
62                        166  2019-07-11               A      8
63                        166  2019-07-23               A      8
64                        166  2019-08-04               A      8
65                        166  2019-08-16               A      8
66                        166  2019-08-28               A      8
67                        166  2019-09-09               A      8
68                        166  2019-09-21               A      8

In [15]:
gdf_50_A = gdf[(gdf['relativeOrbitNumber_start'] == 50) & (gdf['platform_number'] == 'A')]

gdf_50_A.groupby(['relativeOrbitNumber_start', 'date', 'platform_number'])['date'].count().reset_index(name='Count')

   relativeOrbitNumber_start        date platform_number  Count
0                         50  2019-06-21               A      8
1                         50  2019-07-03               A      8
2                         50  2019-07-15               A      8
3                         50  2019-07-27               A      8
4                         50  2019-08-08               A      8
5                         50  2019-08-20               A      8
6                         50  2019-09-01               A      8
7                         50  2019-09-13               A      8

In [9]:
gdf_137_A = gdf[(gdf['relativeOrbitNumber_start'] == 137) & (gdf['platform_number'] == 'A')]
gdf_137_A.groupby(['relativeOrbitNumber_start', 'date', 'platform_number'])['date'].count().reset_index(name='Count')

   relativeOrbitNumber_start        date platform_number  Count
0                        137  2019-06-27               A      8
1                        137  2019-07-09               A      8
2                        137  2019-07-21               A      8
3                        137  2019-08-02               A      8
4                        137  2019-08-26               A      8
5                        137  2019-09-07               A      8